[Desktop Entry]
Version=1.0
Name=Shotwell Photo Viewer
Name[fr]=Visionneuse de Photo Shotwell
GenericName=Photo Viewer
GenericName[fr]=Visionneuse de Photo
Exec=shotwell %f
Icon=shotwell
Terminal=false
NoDisplay=true
Type=Application
MimeType=image/jpeg;
Categories=Graphics;Viewer;Photography;GNOME;GTK;
X-GIO-NoFuse=true
