shotwell
.valencia
/build
/configure.mk
/help/de/*.page
/help/el/*.page
/help/es/*.page
/help/hu/*.page
/help/cs/*.page
/help/pt_BR/*.page
/help/sv/*.page
/misc/gschemas.compiled
/misc/shotwell.desktop
/misc/shotwell-viewer.desktop
/plugins/shotwell-plugin-dev-1.0.vapi
/plugins/shotwell-plugin-dev-1.0.deps
/src/libshotwell.vapi
/src/.unitize
/thumbnailer/shotwell-video-thumbnailer
/src/libshotwell.deps
*.c
*.h
*.langstamp
*.mo
*.o
*.pc
*.so
*.stamp
*~

/plugins/shotwell-data-imports/FSpotDatabase.c
/plugins/shotwell-data-imports/FSpotDatabaseBehavior.c
/plugins/shotwell-data-imports/FSpotDatabaseTable.c
/plugins/shotwell-data-imports/FSpotImporter.c
/plugins/shotwell-data-imports/FSpotMetaTable.c
/plugins/shotwell-data-imports/FSpotPhotoTagsTable.c
/plugins/shotwell-data-imports/FSpotPhotoVersionsTable.c
/plugins/shotwell-data-imports/FSpotPhotosTable.c
/plugins/shotwell-data-imports/FSpotRollsTable.c
/plugins/shotwell-data-imports/FSpotTableBehavior.c
/plugins/shotwell-data-imports/FSpotTagsTable.c
/plugins/shotwell-data-imports/SqliteSupport.c
/plugins/shotwell-data-imports/VersionNumber.c
/plugins/shotwell-data-imports/libshotwell-data-imports.la
/plugins/shotwell-data-imports/shotwell-data-imports.c
/plugins/shotwell-transitions/BlindsEffect.c
/plugins/shotwell-transitions/ChessEffect.c
/plugins/shotwell-transitions/CircleEffect.c
/plugins/shotwell-transitions/CirclesEffect.c
/plugins/shotwell-transitions/ClockEffect.c
/plugins/shotwell-transitions/CrumbleEffect.c
/plugins/shotwell-transitions/FadeEffect.c
/plugins/shotwell-transitions/SlideEffect.c
/plugins/shotwell-transitions/SquaresEffect.c
/plugins/shotwell-transitions/StripesEffect.c
/plugins/shotwell-transitions/libshotwell-transitions.la
/plugins/shotwell-transitions/shotwell-transitions.c
/plugins_shotwell_data_imports_libshotwell_data_imports_la_vala.stamp
/plugins_shotwell_transitions_libshotwell_transitions_la_vala.stamp
