*.lo
*.o
.deps
.dirstamp
.libs
/**/*.swp
/*.bak
/*.gcda
/*.gcno
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux
/config
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/gtk-doc.m4
/gtk-doc.make
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/plugins/common/RESTSupport.c
/plugins/common/Resources.c
/plugins/common/libshotwell-plugin-common.la
/plugins/shotwell-data-imports/FSpotDatabase.c
/plugins/shotwell-data-imports/FSpotDatabaseBehavior.c
/plugins/shotwell-data-imports/FSpotDatabaseTable.c
/plugins/shotwell-data-imports/FSpotImporter.c
/plugins/shotwell-data-imports/FSpotMetaTable.c
/plugins/shotwell-data-imports/FSpotPhotoTagsTable.c
/plugins/shotwell-data-imports/FSpotPhotoVersionsTable.c
/plugins/shotwell-data-imports/FSpotPhotosTable.c
/plugins/shotwell-data-imports/FSpotRollsTable.c
/plugins/shotwell-data-imports/FSpotTableBehavior.c
/plugins/shotwell-data-imports/FSpotTagsTable.c
/plugins/shotwell-data-imports/SqliteSupport.c
/plugins/shotwell-data-imports/VersionNumber.c
/plugins/shotwell-data-imports/shotwell-data-imports.c
/plugins/shotwell-data-imports/shotwell-data-imports.la
/plugins/shotwell-publishing-extras/GalleryConnector.c
/plugins/shotwell-publishing-extras/RajcePublishing.c
/plugins/shotwell-publishing-extras/TumblrPublishing.c
/plugins/shotwell-publishing-extras/YandexPublishing.c
/plugins/shotwell-publishing-extras/shotwell-publishing-extras.c
/plugins/shotwell-publishing-extras/shotwell-publishing-extras.la
/plugins/shotwell-publishing/FacebookPublishing.c
/plugins/shotwell-publishing/FlickrPublishing.c
/plugins/shotwell-publishing/PicasaPublishing.c
/plugins/shotwell-publishing/PiwigoPublishing.c
/plugins/shotwell-publishing/YouTubePublishing.c
/plugins/shotwell-publishing/shotwell-publishing.c
/plugins/shotwell-publishing/shotwell-publishing.la
/plugins/shotwell-transitions/BlindsEffect.c
/plugins/shotwell-transitions/ChessEffect.c
/plugins/shotwell-transitions/CircleEffect.c
/plugins/shotwell-transitions/CirclesEffect.c
/plugins/shotwell-transitions/ClockEffect.c
/plugins/shotwell-transitions/CrumbleEffect.c
/plugins/shotwell-transitions/FadeEffect.c
/plugins/shotwell-transitions/SlideEffect.c
/plugins/shotwell-transitions/SquaresEffect.c
/plugins/shotwell-transitions/StripesEffect.c
/plugins/shotwell-transitions/shotwell-transitions.c
/plugins/shotwell-transitions/shotwell-transitions.la
/plugins_common_libshotwell_plugin_common_la_vala.stamp
/plugins_shotwell_data_imports_shotwell_data_imports_la_vala.stamp
/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la_vala.stamp
/plugins_shotwell_publishing_shotwell_publishing_la_vala.stamp
/plugins_shotwell_transitions_shotwell_transitions_la_vala.stamp
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/shotwell.pot
/po/stamp-it
/shotwell
/shotwell_vala.stamp
/so_locations
/src/.unitize/_CameraInternals.c
/src/.unitize/_ConfigInternals.c
/src/.unitize/_CoreInternals.c
/src/.unitize/_DataImportsInternals.c
/src/.unitize/_DbInternals.c
/src/.unitize/_DirectInternals.c
/src/.unitize/_Direct_unitize_entry.c
/src/.unitize/_EditingToolsInternals.c
/src/.unitize/_EventsInternals.c
/src/.unitize/_FoldersInternals.c
/src/.unitize/_LibraryInternals.c
/src/.unitize/_Library_unitize_entry.c
/src/.unitize/_PhotosInternals.c
/src/.unitize/_PluginsInternals.c
/src/.unitize/_PublishingInternals.c
/src/.unitize/_SearchesInternals.c
/src/.unitize/_SidebarInternals.c
/src/.unitize/_SlideshowInternals.c
/src/.unitize/_TagsInternals.c
/src/.unitize/_ThreadsInternals.c
/src/.unitize/_UnitInternals.c
/src/.unitize/_UtilInternals.c
/src/AppDirs.c
/src/AppWindow.c
/src/Application.c
/src/BatchImport.c
/src/Box.c
/src/CheckerboardLayout.c
/src/CollectionPage.c
/src/ColorTransformation.c
/src/CommandManager.c
/src/Commands.c
/src/CustomComponents.c
/src/Debug.c
/src/DesktopIntegration.c
/src/Dialogs.c
/src/Dimensions.c
/src/DirectoryMonitor.c
/src/Event.c
/src/Exporter.c
/src/International.c
/src/LibraryFiles.c
/src/LibraryMonitor.c
/src/MediaDataRepresentation.c
/src/MediaInterfaces.c
/src/MediaMetadata.c
/src/MediaMonitor.c
/src/MediaPage.c
/src/MediaViewTracker.c
/src/MetadataWriter.c
/src/NaturalCollate.c
/src/Orientation.c
/src/Page.c
/src/Photo.c
/src/PhotoMonitor.c
/src/PhotoPage.c
/src/PixbufCache.c
/src/Printing.c
/src/Properties.c
/src/Resources.c
/src/Screensaver.c
/src/SearchFilter.c
/src/SlideshowPage.c
/src/SortedList.c
/src/Tag.c
/src/Thumbnail.c
/src/ThumbnailCache.c
/src/TimedQueue.c
/src/Tombstone.c
/src/UnityProgressBar.c
/src/Upgrades.c
/src/VideoMetadata.c
/src/VideoMonitor.c
/src/VideoSupport.c
/src/camera/Branch.c
/src/camera/Camera.c
/src/camera/CameraTable.c
/src/camera/GPhoto.c
/src/camera/ImportPage.c
/src/config/Config.c
/src/config/ConfigurationInterfaces.c
/src/config/GSettingsEngine.c
/src/core/Alteration.c
/src/core/ContainerSourceCollection.c
/src/core/Core.c
/src/core/DataCollection.c
/src/core/DataObject.c
/src/core/DataSet.c
/src/core/DataSource.c
/src/core/DataSourceTypes.c
/src/core/DataView.c
/src/core/DataViewTypes.c
/src/core/DatabaseSourceCollection.c
/src/core/SourceCollection.c
/src/core/SourceHoldingTank.c
/src/core/SourceInterfaces.c
/src/core/Tracker.c
/src/core/ViewCollection.c
/src/core/util.c
/src/data_imports/DataImportJob.c
/src/data_imports/DataImportSource.c
/src/data_imports/DataImports.c
/src/data_imports/DataImportsPluginHost.c
/src/data_imports/DataImportsUI.c
/src/db/DatabaseTable.c
/src/db/Db.c
/src/db/EventTable.c
/src/db/PhotoTable.c
/src/db/SavedSearchDBTable.c
/src/db/TagTable.c
/src/db/TombstoneTable.c
/src/db/VersionTable.c
/src/db/VideoTable.c
/src/direct/Direct.c
/src/direct/DirectPhoto.c
/src/direct/DirectPhotoPage.c
/src/direct/DirectView.c
/src/direct/DirectWindow.c
/src/editing_tools/EditingTools.c
/src/editing_tools/StraightenTool.c
/src/events/Branch.c
/src/events/EventDirectoryItem.c
/src/events/EventPage.c
/src/events/Events.c
/src/events/EventsDirectoryPage.c
/src/folders/Branch.c
/src/folders/Folders.c
/src/folders/Page.c
/src/library/Branch.c
/src/library/FlaggedPage.c
/src/library/FlaggedSidebarEntry.c
/src/library/ImportQueuePage.c
/src/library/ImportQueueSidebarEntry.c
/src/library/LastImportPage.c
/src/library/LastImportSidebarEntry.c
/src/library/Library.c
/src/library/LibraryWindow.c
/src/library/OfflinePage.c
/src/library/OfflineSidebarEntry.c
/src/library/TrashPage.c
/src/library/TrashSidebarEntry.c
/src/main.c
/src/photos/BmpSupport.c
/src/photos/GRaw.c
/src/photos/GdkSupport.c
/src/photos/JfifSupport.c
/src/photos/PhotoFileAdapter.c
/src/photos/PhotoFileFormat.c
/src/photos/PhotoFileSniffer.c
/src/photos/PhotoMetadata.c
/src/photos/Photos.c
/src/photos/PngSupport.c
/src/photos/RawSupport.c
/src/photos/TiffSupport.c
/src/plugins/DataImportsInterfaces.c
/src/plugins/ManifestWidget.c
/src/plugins/Plugins.c
/src/plugins/PublishingInterfaces.c
/src/plugins/SpitInterfaces.c
/src/plugins/StandardHostInterface.c
/src/plugins/TransitionsInterfaces.c
/src/plugins/libplugin.la
/src/publishing/APIGlue.c
/src/publishing/Publishing.c
/src/publishing/PublishingPluginHost.c
/src/publishing/PublishingUI.c
/src/searches/Branch.c
/src/searches/SavedSearchDialog.c
/src/searches/SavedSearchPage.c
/src/searches/SearchBoolean.c
/src/searches/Searches.c
/src/sidebar/Branch.c
/src/sidebar/Entry.c
/src/sidebar/Sidebar.c
/src/sidebar/Tree.c
/src/sidebar/common.c
/src/slideshow/Slideshow.c
/src/slideshow/TransitionEffects.c
/src/tags/Branch.c
/src/tags/HierarchicalTagIndex.c
/src/tags/HierarchicalTagUtilities.c
/src/tags/TagPage.c
/src/tags/Tags.c
/src/threads/BackgroundJob.c
/src/threads/Semaphore.c
/src/threads/Threads.c
/src/threads/Workers.c
/src/unit/Unit.c
/src/util/KeyValueMap.c
/src/util/Util.c
/src/util/file.c
/src/util/image.c
/src/util/misc.c
/src/util/string.c
/src/util/system.c
/src/util/ui.c
/src_plugins_libplugin_la_vala.stamp
/stamp-h1
/tags
/thumbnailer/shotwell-video-thumbnailer
/thumbnailer/shotwell-video-thumbnailer.c
/thumbnailer_shotwell_video_thumbnailer_vala.stamp
_libs
