/build
/src/.unitize
/configure.mk
shotwell
/thumbnailer/shotwell-video-thumbnailer
/plugins/shotwell-plugin-dev-1.0.vapi
*.c
*.o
*.so
*.h
*.mo
*.deps
*.stamp
*.pc
*.langstamp
/src/libshotwell.vapi
/misc/gschemas.compiled
