[Desktop Entry]
Version=1.0
Name=Shotwell
GenericName=Photo Organizer
Comment=Import and organize your photos.
Exec=shotwell %U
Terminal=true
Type=Application
MimeType=x-content/image-dcf
Categories=Graphics;Photography;GNOME;GTK
