[Desktop Entry]
Version=1.0
Name=Shotwell
GenericName=Photo Organizer
Comment=Organize your photos
Exec=shotwell %U
Icon=shotwell
Terminal=false
Type=Application
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
