Source: shotwell
Section: gnome
Priority: optional
Maintainer: Jim Nelson <jim@yorba.org>
Build-Depends: debhelper (>= 7), 
 libatk1.0-dev (>= 1.30.0),
 libexif-dev (>= 0.6.16),
 libgconf2-dev (>= 2.22.0),
 libgee-dev (>= 0.5.0),
 libgexiv2-dev (>= 0.2.0),
 libglib2.0-dev (>= 2.26.0),
 libgphoto2-2-dev (>= 2.4.2),
 libgstreamer0.10-dev (>= 0.10.28),
 libgstreamer-plugins-base0.10-dev (>= 0.10.32),
 libgtk2.0-dev (>= 2.18.0),
 libgudev-1.0-dev (>= 145),
 libraw-dev (>= 0.9.0),
 libsoup2.4-dev (>= 2.26.0),
 libsqlite3-dev (>= 3.5.9),
 libunique-dev (>= 1.0.0),
 libwebkitgtk-dev (>= 1.1.5),
 libxml2 (>= 2.6.32),
 m4 (>= 1.4.13),
 valac (>= 0.11.7)
Standards-Version: 3.8.3
Homepage: http://www.yorba.org/shotwell

Package: shotwell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libatk1.0-0 (>= 1.30.0),
 libexif12 (>= 0.6.16),
 libgconf2-4 (>= 2.22.0),
 libgee2 (>= 0.5.0),
 libgexiv2-0 (>= 0.2.0),
 libglib2.0-0 (>= 2.26.0),
 libgphoto2-2 (>= 2.4.2),
 libgstreamer0.10-0 (>= 0.10.28),
 libgstreamer-plugins-base0.10-0 (>= 0.10.32),
 libgtk2.0-0 (>= 2.18.0),
 libgudev-1.0-0 (>= 145),
 librsvg2-common (>= 2.14.0),
 libsoup2.4-1 (>= 2.26.0),
 libsqlite3-0 (>= 3.5.9),
 libunique-1.0-0 (>= 1.0.0),
 libwebkitgtk-1.0-0 (>= 1.1.5),
 libxml2 (>= 2.6.32)
Description: Digital photo manager
 Shotwell is a digital photo manager designed for the GNOME desktop 
 environment. It allows you to import photos from disk or camera, organize 
 them in various ways, view them in full-window or fullscreen mode, and 
 export and share them with others by publishing them to popular web
 services.
 .
 Visit http://www.yorba.org/shotwell to read about the current state of 
 Shotwell's development.
