Source: shotwell
Section: gnome
Priority: optional
Maintainer: Jim Nelson <jim@yorba.org>
Build-Depends: debhelper (>= 7), 
 desktop-file-utils (>= 0.13),
 libatk1.0-dev (>= 1.30.0),
 libexif-dev (>= 0.6.16),
 libgee-0.8-dev (>= 0.8.5),
 libgexiv2-dev (>= 0.4.90),
 libglib2.0-dev (>= 2.30.0),
 libgphoto2-2-dev (>= 2.4.2) | libgphoto2-6-dev (>= 2.5.0),
 libgstreamer1.0-dev (>= 1.0.0),
 libgstreamer-plugins-base1.0-dev (>= 1.0.0),
 libgtk-3-dev (>= 3.6.0),
 libgudev-1.0-dev (>= 145),
 libjson-glib-dev (>= 0.10.0),
 libraw-dev (>= 0.13.2),
 librest-dev (>= 0.7.10),
 libsoup2.4-dev (>= 2.26.0),
 libsqlite3-dev (>= 3.5.9),
 libunity-dev (>= 5.10.0),
 libwebkitgtk-3.0-dev (>= 1.4.3),
 libxml2 (>= 2.6.32),
 m4 (>= 1.4.13),
 valac-0.22 (>= 0.21.2)
Standards-Version: 3.8.3
Homepage: http://www.yorba.org/shotwell

Package: shotwell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librsvg2-common, dbus-x11, dconf-tools
Description: Digital photo manager
 Shotwell is a digital photo manager designed for the GNOME desktop 
 environment. It allows you to import photos from disk or camera, organize 
 them in various ways, view them in full-window or fullscreen mode, and 
 export and share them with others by publishing them to popular web
 services.
 .
 Visit http://www.yorba.org/shotwell to read about the current state of 
 Shotwell's development.
